[2017-10-30 20:59] einacio opened #1 "visual error on FF"
Hi, I'm looking at the demo page with FF developer (57.0b12), and I'm seeing errors on the circles. There are scroll bars.

![zircle](https://user-images.githubusercontent.com/1534114/32195384-e6a24bac-bd9b-11e7-8f39-492e62d1e42e.png)

I see that on the css you have `overflow-y:scroll;` on `.z-content`, don't know if it serves any purpose, but removing it looks better

[2017-10-30 22:09] tinchox5 commented on #1
Thank you for showing me the issue! Apparently thats happens with certain versions of FF. The main purpose of the scroll is show a custom circular scroll when there is a long content in <z-panel>. I’ll try to fix it soon.

[2017-10-31 15:14] tinchox5 commented on #1
@einacio I think the issue is fixed in the new zircle release (zircle@0.1.1)  Do you use FF under Linux?

[2017-10-31 16:05] einacio commented on #1
it looks fine now.
this is from FF on win.

[2017-10-31 17:42] tinchox5 commented on #1
Thank you @einacio! Also thanks to @maxxsch28 and @mromanuk!

[2017-10-31 17:42] #1 closed

[2017-11-01 17:38] twhitson opened #2 "z-list pagination indicators show all previous selected"
When moving through pages in a paginated z-list, previous page indicators stay filled in when on any page beyond the first. Reproduced on Firefox Developer Edition 57.0b12 and Chrome 61.0.3163.100.

![Example](https://user-images.githubusercontent.com/4574457/32288215-3afea374-bf01-11e7-9e8d-8382d1f07b10.png)

[2017-11-01 18:20] tinchox5 commented on #2
Thank you @twhitson, the primary idea was to show a kind of "progression", but I see you point maybe I could add class to show the progression and another to show what page is active, what do you think?

[2017-11-03 13:42] Edwin-Luijten opened #3 "[Question] Use as components"
I started with the hello world example and it worked.
Now I'm trying to re-create the cuba libre example I'm using Nuxtjs setup.

I made 3 components, recipe, description and ingredients in below format (omitted the other 2).
[code]

Then I'm initializing them as below:
[code]
$.options.components has below structure:
![image](https://user-images.githubusercontent.com/1339637/32376470-2669ec0c-c0a

[2017-11-03 15:45] tinchox5 commented on #3
Hi @Edwin-Luijten! Thank you for your question.

Please try to use the exactly the name of the component you have defined in the Vue instance in the rest of your app.
[code]
For instance, for "**Recipe**" component, you should use the same name in  `<z-panel view="Recipe" >`
[code]

Also, do the same in the prop `gotoview` of the component `<z-scale>`.  For example, if you want to go to "RecipeDes

[2017-11-06 17:40] tinchox5 commented on #2
Hi @twhitson,  the dot navigation style should be fixed in zircle@0.1.5

![Example](https://user-images.githubusercontent.com/11557901/32455079-34b4bd2c-c2ef-11e7-9863-64052429a0de.png)

[2017-11-06 17:40] #2 closed

[2017-11-06 17:47] tinchox5 commented on #3
@Edwin-Luijten,  I've just set the view names to case-insensitive [zircle@0.1.5]
So, you should be able to do the following:

[code]
**`z-panel` view prop**
[code]
**`z-scale` gotoview prop**
[code]
**`setView()`**
[code]

[2017-11-06 17:47] #3 closed

[2017-11-08 07:31] Edwin-Luijten commented on #3
Awesome, it is working =).

[2018-02-02 06:35] guruprasaad123 opened #5 "Data is destroyed while going back to preview views"
I am new to [Zircleui](http://zircleui.github.io/) framework and I have been this framework for my project.And having this weird issue which is changing the behaviour of my app.I have three views , which I have registered in the **main.js** file and here's the code below .
[code]
# Scenario 1
Default -> Search -> Games <br>
works fine.
# Scenario 2 ( Continuation of Scenario 1 )
Games -> Search
Al

[2018-02-02 14:19] tinchox5 commented on #5
Thank for trying Zircle in your project.  I can't access to your source files, could you fork one of this examples and try to reproduce the issue?
https://jsfiddle.net/tinchox5/az5cf0rd/
https://codepen.io/zircle/pen/xpMoRe

[2018-02-02 15:47] tinchox5 commented on #5
@guruprasaad123 , I tried to reproduce the issue without luck. Here it is the jsfiddle using fake data

https://jsfiddle.net/tinchox5/zLn6m0u0/

[2018-02-02 16:13] guruprasaad123 commented on #5
you can access this [repo](https://bitbucket.org/guru001/cogoport-frontend) now Please check it out @tinchox5 !

[2018-02-02 17:08] tinchox5 commented on #5
Oki, I will take a look!

[2018-02-02 21:12] tinchox5 commented on #5
@guruprasaad123 sorry for the delay, I think I found the issue!
As it is pointed in the jsfiddle of above you need to clone the results (the array you obtained from axios) before to put it in the prop :collection.

your.results.**slice(0)**

[code]
You can clone the results inside the vue instance `data()`

Hope that helps you !

Thank you for open the issue!

[2018-02-02 21:28] tinchox5 commented on #5
As far as I know this is not properly a Zircle's bug, but a normal situation triggers a mutation of an array. For this reason is that you have to work with a "copy" of the results.  I'm not an expert using axios or working with Vuex, maybe thare some options to create copies of the results without mutate the original ones.

That is what I did it in the jsfiddle.
...
const games = {
  name: 'games'

[2018-02-03 03:21] guruprasaad123 commented on #5
you can access this [repo](https://bitbucket.org/guru001/cogoport-frontend) now Please check it out @tinchox5 !

[2018-02-03 03:52] tinchox5 commented on #5
Yes, I ve already access and I found your problem as I wrote above.

[2018-02-03 19:15] guruprasaad123 commented on #5
Yes, seems like your hack does works...but I can't really understand how ?. Hope you provide an explanation on how / why the data is deployed while switching to previous states @tinchox5

[2018-02-03 19:15] #5 closed

[2018-02-21 17:07] dsbert opened #6 "Examples Don't show up"
The `iframe` contents for the examples are blank when I view them

https://zircleui.github.io/zircleUI/#/?id=counter

[code]

[2018-02-21 19:28] tinchox5 commented on #6
Hi @dsbert! I can't reproduce the issue. If I click on any of the tabs like "CSS", "HTML", "JS" or "RESULT" , I can see the code. And, I'm able to go to codepen and edit the example if I click on "Edit on Codepen".
![screen shot 2018-02-21 at 4 23 53 pm](https://user-images.githubusercontent.com/11557901/36500830-213ec196-1724-11e8-96b9-e7c8f3180efe.png)

[2018-02-21 20:20] dsbert commented on #6
@tinchox5 It looks like Privacy Badger removes the cookie and referrer which prevents Codepen from loading properly.

https://twitter.com/CodePen/status/860237169192914945

[2018-02-21 21:08] tinchox5 commented on #6
Oh, thank you noticed that, I think the best solution may be replace the examples with jsfiddle. What you you think?

[2018-02-22 03:39] dsbert commented on #6
I don't have much experience with either of those services so I'm not really sure what the best option is.

[2018-02-22 18:35] tinchox5 commented on #6
For now, I close it as it is an issue not related to this project. Thank you

[2018-02-22 18:35] #6 closed

[2018-07-09 05:39] leo91000 opened #8 "How to change the size of the main circle ?"
Hello,
I am looking to change the size of the main circle. How can I achieve that ?

[2018-07-09 12:50] tinchox5 commented on #8
Hi Léo,
In the current zircle's version, the main circle has only one size. It is not resizable. In the next version, that will be available soon,  this issue has been solved.

Meanwhile, you can do one of the following:

1. In your Vue Instance, add the following line `this.$zircleStore.state.zircleWidth.xl = 200` <== put the size you want.  This modify the width of the main circle (`z-panel`) in

[2018-07-13 18:28] tinchox5 opened #9 "Vue version compatibility"
I found an issue using Zircle with Vue versions > 2.5.13. So, I recommend to use **Vue 2.5.13** until Zircle 1.0.0 is published. That is going to happen soon and it will be announced here.

The problem seems to take place when you are going back to a previous view. The `z-panel` that was clicked to go to the next view becomes invisible. The css `display: none;` is added.

[2018-07-27 03:37] tinchox5 opened #10 "zircle 0.9.0 is coming"
I'm excited to announce that **the release of zircle 0.9.0 is planned for mid-August!**

Almost a year after launching the first version, **zircle** has matured enough to be easier to use and more friendly for developers.

Along with the new version, it will published:
- A new detailed and comprehensive **documentation**.
- A detailed **tutorial** to know how to use some of the **zircle** features

[2018-08-13 21:17] tinchox5 commented on #8
Solved by [**latest release**](https://github.com/zircleUI/zircleUI/releases/tag/v0.9.0)
:)

[2018-08-13 21:17] #8 closed

[2018-08-13 21:21] #9 closed, assigned to nobody

[2018-08-13 21:27] tinchox5 commented on #10
**Zircle-ui v0.9.0 was released!!**

Please check:
- the [**new documentation site**](https://zircleui.github.io/docs/).
- the [**migration guide**](https://zircleui.github.io/docs/guide/migration.html)
- the [**tutorial**](https://zircleui.github.io/docs/tutorial/) and [**examples**](https://zircleui.github.io/docs/examples/vuejs-ecosystem.html)

[2018-08-14 00:12] #10 closed

[2018-08-14 01:08] tinchox5 opened #12 "Zircle-ui v0.9.0 was released!!"
Please check:
- the [**new documentation site**](https://zircleui.github.io/docs/).
- the [**migration guide**](https://zircleui.github.io/docs/guide/migration.html)
- the [**tutorial**](https://zircleui.github.io/docs/tutorial/) and [**examples**](https://zircleui.github.io/docs/examples/vuejs-ecosystem.html)

[2018-08-17 18:48] #12 closed

[2018-09-25 10:29] LLIMEJI opened #13 "event for knob (qty)"
Hi there.

I need to catch the event for knob (qty), then transfer the data to the back-end, but the documentation and tutorial do not say anything about it (only click, but it's works bad for mobile). Is this event described in zircle.ui or is it necessary to describe it yourself?

[2018-09-25 12:11] tinchox5 commented on #13
Hi Igor, here it is the  information about using knob: https://zircleui.github.io/docs/api/z-spot.html#z-spot-as-knob

Give me some hours and I will post here a basic example to catch the `qty` value .  Maybe the tutorial and documentations are not clear enough.

[2018-09-25 14:19] tinchox5 commented on #13
Igor, here I made an example using `z-spot` as a `knob`. I realized the documentation is not clear about how to handle the values when using prop `qty`. Sorry about that, I'll fix as soon as possible.

I hope this example helps you to understand how to handle this situation:

https://codepen.io/zircle/pen/EeBXQO

[2018-09-26 11:57] LLIMEJI commented on #13
Thanks, Juan. I think this is what I need

[2018-09-26 11:57] #13 closed

[2018-10-07 13:57] Paperasse opened #14 "Stuck in creating an app according to documentation"
I'm starting a project with zircle. I have followed up the steps in the "First steps" section. Created everything as described. Touched no other files. Get stuck on the import of the home view. Following error message:

 ERROR  Failed to compile with 1 errors                                                                                            15:51:25
This dependency was not found:

* /views

[2018-10-07 14:38] tinchox5 commented on #14
Hi Henk!
Thank you filling this issue. Are referring  to this link
https://zircleui.github.io/docs/tutorial/setup-files.html ?

It seems that the error is due to ‘home.vue’ is not found.  Please check if
the folder ‘views’ exists inside the ‘src’ folder.

On Sun, Oct 7, 2018 at 9:57 AM Henk Feijt <notifications@github.com> wrote:

[2018-10-07 15:14] tinchox5 commented on #14
I think there is a typo error: please change `import home from '/views/home'` for `import home from './views/home'`

[2018-10-07 17:54] tinchox5 commented on #14
Ok, if you couldn’t arrive to a solution I’ll work on this issue when arrive home

[2018-10-07 22:00] tinchox5 commented on #14
Henk, I confirm that the problem is that in the tutorial's documentation (first steps) the **`home.vue`** file  points to `/views/home` but has to  point to **`./views/home`**

Here is a code sandbox with the working solution. https://codesandbox.io/s/m7ky0r7oqp

Would you like to help me to correct this typo mistake by submitting a PR?
(you can follow [this link](https://github.com/zircleUI/docs/

[2018-10-08 06:57] Paperasse commented on #14
Ok. I will try to edit docs and do a pr.

Henk Feijt

[2018-10-08 14:00] tinchox5 commented on #14
Thank you Henk for the PR

[2018-10-08 14:13] Paperasse commented on #14
Will publish app soon on netfily.

[2018-10-08 14:28] tinchox5 commented on #14
Let me know when publish! I want to know what the community is doing with zircle!

[2018-10-08 15:36] Paperasse commented on #14
An early prototype you'll finf at bmi-zircleui.netlify.com. Its is body mass index calculator. In Dutch language. Only skeleton for now.

[2018-10-08 21:04] tinchox5 commented on #14
Nice! Let me know when you finish it, I'm thinking in create some kind of community showcase to show what can be done with zircle.

[2018-10-09 17:41] #14 closed

[2018-10-10 14:38] Paperasse opened #15 "Label of view inherits label from trigger -feature"
In a view would it be nice to inherit the label from the z-spot that triggers the view.
eg: if the label of a z-spot is "Profile" it is evident that the view's label also becomes "Profile".

In that way redundancy is low. Of course, it still must be able that the view has its own label.

[2018-10-11 14:56] tinchox5 commented on #15
I was thinking about the implementation of the feature you suggest.

That is what I think:
- The user maybe doesn't want to show a view's label.
- As you said the user maybe want to set another label or put text in the z-view container.
- As a result, the label shouldn't be inherited by default.

With that in mind, one possible implementation of the feature would be to allow user to write `inherit

[2018-10-11 15:48] Paperasse commented on #15
Well, I think it is more logical to name the label the same as the triggering z-spot. By doing an inherit by default there is no need to define a label for the view. Those users that want another label can do that as it is now. And those that don't want a label could hide a label by defining it as "none". E.g. <z-spot label="none">. In that way you serve all purposes.

[2018-10-12 03:17] tinchox5 commented on #15
I follow your idea and your proposed solution. However, I think that, at the moment, it's better to keep the labels going as they are now. Zircle is a multipurpose UI library and for this reason I'd prefer to maintain the UI elements as decoupled as possible. I'm aware that in your project have a function as you request would be very useful, but in other approaches maybe not.
Thank you @Paperasse

[2018-10-12 16:00] mromanuk commented on #15
I think, it should be up to the "user" (of the zircle) to define the label/view name. Sometimes you want to inherit the name, sometimes you don't. So will be better to leave it the way it is now.

[2018-10-16 00:11] #15 closed

[2018-10-16 08:53] Paperasse opened #16 "Navigate to view in code."
It would be nice to go a view in code. Example: in a view the user enters data which is stored in de vuex store through an mutation. After that the app needs to navigate to another view. A "toView' function perhaps?

[2018-10-16 11:35] tinchox5 commented on #16
Do you mean programmatic navigation? I think this is a good feature to add. I'll work on that.
Thanks!!

[2018-10-16 11:50] Paperasse commented on #16
Yes that is what I mean. Thanks.

[2018-10-16 11:51] Paperasse commented on #16
The Vue router has such a function

[2018-10-17 23:03] tinchox5 commented on #16
@Paperasse I added a `$zircle`action called `toView()` to perform programmatic navigation. 🎉 Available on **zircle v.1.1.0**. You should update zircle to use it.

Pls check the documentation:
https://zircleui.github.io/docs/api/z-spot.html#using-programmatic-navigation

[2018-10-17 23:03] #16 closed

[2018-10-18 07:12] Paperasse commented on #16
Ok. Will update and use it. Will let you know if there something wrong. Thanks.

[2018-10-21 15:46] Paperasse opened #17 "Invert colors of z-spot in the theme"
As it in the current version a z-spot shares the same forground and background colors of the theme, and they are the same as those of a z-view. In my app I want the z-spots to distinct from the z-views.
Momentarely, I have defined colors in a fixed matter in the style tag. However, when I change the theme I have to change the css definition.

What I would like to do is to invert the colors by usin

[2018-10-21 16:34] tinchox5 commented on #17
Hi @Paperasse! I think I understand what you say.
For instance,
[code]
The pre built themes has tres variables:
  --shade-color
  --primary-color
  --accent-color

That works with the theme modes :
.mode-light for light backgrounds.
.mode-light-filled for light backgrounds and filled views.
.mode-dark for dark backgrounds (default).
.mode-dark-filled for dark backgrounds and filled views.

You can

[2018-10-21 16:44] tinchox5 commented on #17
Please check this example going to **settings** view

https://zircleui.github.io/docs/examples/home.html

[2018-11-03 21:01] tinchox5 opened #18 "Duplicate presence of slot "image" in z-view"

[2018-12-03 17:27] driekus77 opened #19 "Routing (vue-router) not working with zircleui?"
**What issues can I inform?**
bug in documentation?

**How to inform?**
I'm new to zircleui and using the Vue ecosystem example as base for our new DTAP status monitoring webpage. Everything seems to be working fine! (Thanks for this lib!)
Only one thing I can't get working is using routing (vue-router) with zircleui.

I'm configured it according to https://zircleui.github.io/docs/guide/using-vue-

[2018-12-03 17:32] tinchox5 commented on #19
Thank you for open this issue. I'll work on it ASAP

[2018-12-03 18:04] tinchox5 commented on #19
@driekus77 I run a setup of vue-router from scratch under the node environment and the following code seems to work fine:

[code]

The key points are:
1. You need to import **Vue** and **Vue-router** into **App.vue**. Also, you need to import your views.
2. Start a vue-router object `const router = new Router({})`. There is not need to create `routes` since zircle handles them automatically based

[2018-12-03 19:41] tinchox5 commented on #19
Hi @driekus77,
I fully understand what you said regarding the use of the routes... I'm afraid there is an important limitation when you use a route and zircle together: right now always you enter a route the router redirects to the initial view (eg: home).

Sorry about that, maybe it is useless for you using a router on this conditions. However, in the near future I could try to fix that by overri

[2018-12-03 20:46] tinchox5 commented on #19
I mean using a router with zircle is not possible in a conventional way right now because as zircle uses a kind of stalked views (the previous view is visible along with the current view). I have to find a solution to render the previous views as well, not only the current one. But I think it's possible to reach a solution.

[2018-12-03 21:15] driekus77 commented on #19
Hi @tinchox5,

I've managed to get a workarround by using the vue-router only. Together with:

[code]

And in the environment specific views in mounted I use:

`this.$router.replace('/production');`

You are right: The previous view is not there so only the routed view is visible. But I can navigate back to home so for me its fine.

Thanks again for you quick responses and help.

Keep up to good w

[2018-12-05 11:15] driekus77 commented on #19
My workarround does need events:
When returning from a view (no idea???)
When (re)entering a view (mounted?)

This in order to replace the url properly.

Can you give me some advice?

Thanks

[2018-12-05 13:12] driekus77 commented on #19
Events like @click -> @enterView | @leaveView

Or hooks like mounted -> enter | beforeLeave

I know the Enter view can be done in existing mounted hook. But for the leave I cant think of something.

[2018-12-05 14:22] phshy0607 commented on #19
Hi, I have a problem with routing too.

I'm using **auth0** as my third party authentication service, after I did the login logic, the auth0 service will call a callback URL (in this scenario callback URL will be http://localhost:8080/callback).

I've been playing around with this beautiful library for about few hours, but I didn't find a way to actually make this URL work.

Previously (before usi

[2018-12-05 15:01] tinchox5 commented on #19
Hi @phshy0607, thank you for participating in this discussion!

As you said zircle adds a suffix '--n' in the views... The main reason for this is that you can reuse several times the same view. So, to avoid conflicts with previous views zircle differentiates each view from others by adding a suffix.

Having said that I understand that it would be nice to allow custom urls when you are using vue-r

[2018-12-05 21:32] tinchox5 commented on #19
@phshy0607, @driekus77  I made a little change on zircle to avoid inserting suffix when the router is enabled (v1.2.0). This is a just a small fix. I'll try to find a more comprehensive workaround in some days. Sorry for the inconvenience

[2018-12-06 01:31] phshy0607 commented on #19
@tinchox5 it's totally fine. Thanks for the contribution!
I will try it out soon. XD

[2018-12-07 20:56] tinchox5 opened #20 "What things could be improved in this project?"
2019 is coming! I would like to get an overview of things you consider that could be better on zircle. Feel free to mention not just technical things but rather any issue for this project.

Please do not troll, rage, rant or insult. If something has been mentioned already, please use the upvote/emoji buttons instead of repeating the same thing so that it's easier to see how many users care about e

[2018-12-11 01:20] NiharikaPatel opened #21 "Blank Canvas on Refresh"
I'm using Zircle on the mixed mode and the canvas is within a container, However, on refreshing the browser the canvas appears to be the entire viewport and the Zview disappears.

[2018-12-11 01:32] tinchox5 commented on #21
Hi @NiharikaPatel! Could you provide a codepen to see the issue?

[2018-12-11 01:57] tinchox5 commented on #21
When you resize the browser's windows the problem persist?

[2018-12-11 02:35] NiharikaPatel commented on #21
Hi Juan,

https://jsfiddle.net/37mr5324/50/

This is a little similar to what I am trying to do, however it does not
seem to happen in the JSfiddle result window. I am attaching a video of my
web app to help explain whats happening.
And the problem persists on resizing the browsers window as well.

Thank you,
Niharika

On Mon, Dec 10, 2018 at 5:57 PM Juan Martin <notifications@github.com>
wrote:

[2018-12-11 02:47] tinchox5 commented on #21
I couldn't see your video here, maybe you can attach an animated gif on this thread. However, I found a bug related to your issue.  I'll fix tomorrow morning (Canada time).

[2018-12-11 12:20] tinchox5 commented on #21
Please update zircle to v.1.2.1. There was an error in mixed mode that prevented zircle from taking the size of the container as reference.

[2018-12-11 17:46] NiharikaPatel commented on #21
Hi Juan ,

I just updated to zircle v.1.2.1 , However the issue still persists . Was I
supposed to make any changes to the code as well ? I am attaching a GIF
animation of the issue.

Thanks,
Niharika

On Tue, Dec 11, 2018 at 4:20 AM Juan Martin <notifications@github.com>
wrote:

[2018-12-11 18:12] tinchox5 commented on #21
You don't have to make any change in your code for this bug fix. There is no attached image... I think you should add it trough Github website.

[2018-12-11 19:55] NiharikaPatel commented on #21
Oh I see, So I cannot have a container as a component for the Canvas?

On Tue, Dec 11, 2018 at 10:26 AM Juan Martin <notifications@github.com>
wrote:

[2018-12-11 20:05] tinchox5 commented on #21
You should use `z-canvas` as container. You can add an inline style (eg: `style="width: 50%"`) or create a class for `z-canvas`, like:
[code]

If you use a class you need to add `!important` on width and height properties to overrride the initial config.

[2018-12-11 20:17] NiharikaPatel commented on #21
I see what you're saying , however We need the zircle to be part of a
component in the main page. I have attached My code below.
The first image is where I define the Z-Canvas (In Canvas.vue) and the
second one is where I call it (FSD.vue). Initially it does take the shape
of the container. However if we route back refresh, It breaks(as seen in
the GIF)

On Tue, Dec 11, 2018 at 12:05 PM Juan Marti

[2018-12-11 20:21] tinchox5 commented on #21
There is no file attached. You need to drag and drop the image via Github website

[2018-12-11 22:21] #21 closed

[2018-12-11 22:58] tinchox5 commented on #21
There was not an issue related with zircle

[2018-12-14 01:50] NiharikaPatel commented on #21
This issue was not related to Zircle, problem maybe related to the node server.

[2018-12-21 18:15] tinchox5 opened #23 "Option to have shapes different than circles"
TODO
- [X] Add squared shape functionality
- [x] z-list
- [x] z-dialog
- [x] z-scroll
- [x] Overflow bar for squared z-view
- [x] Ability to mix and match squares and circles
- [x] Test cases
- [ ] Documentation

[2019-01-04 15:46] tinchox5 commented on #19
**Zircle and vue-router** **WIP**

- [x] Use vue-router **routes** along with **automatic zircle routes**
[code]

- [ ] Use routes to render views and set the initial defined view to go back.
Eg: `/documents` will render the document view. When user go back, `/home` will render.

- [ ] Test cases with params, optimize code

[2019-01-08 16:08] tinchox5 commented on #19
Information and guides on https://zircleui.github.io/docs/guide/using-vue-router.html

[2019-01-08 16:08] #19 closed

[2019-01-29 19:13] NiharikaPatel opened #24 "Zircle css interferes with element UI styling"
The Zircle.css seems to interfere with the Element UI styling . Some of the widgets get distorted. Is there anyway to restrict the styling to just the Zircle components?

[2019-01-29 19:23] tinchox5 commented on #24
Sorry to hear that, most of the css classes start with te prefix `z-` to avoid conflicts with other libraries. Could you tell me what classes are causing troubles?

[2019-01-29 19:32] NiharikaPatel commented on #24
I am not sure exactly but I am running the Smart home Dashboard example and my canvas is in the mix mode. Everything else is the default setting.

[2019-01-29 19:36] tinchox5 commented on #24
And what other UI library are you using with?

On Tue, Jan 29, 2019 at 2:32 PM NiharikaPatel <notifications@github.com>
wrote:

[2019-01-29 19:39] NiharikaPatel commented on #24
Just Element UI.

[2019-01-29 19:53] tinchox5 commented on #24
I skimmed the Element UI CSS style-sheet and I don't think styles interfere. Mostly, all CSS classes use the prefix `el-` and there aren't exact matches with the Zircle CSS.

[2019-01-29 20:08] NiharikaPatel commented on #24
![withzircle](https://user-images.githubusercontent.com/31861212/51936814-e6d4af00-23bd-11e9-9ada-6e58b066f62f.png)
![withoutzircle](https://user-images.githubusercontent.com/31861212/51936824-ec31f980-23bd-11e9-9c5b-900e13bffb12.png)

I have attached two screenshots that show the distortion. The second image shows how its actually supposed to be without the Zircle.css . Apart from the the scrolls

[2019-01-29 20:41] NiharikaPatel commented on #24
Okay, Thank you!

[2019-01-29 23:55] tinchox5 commented on #24
This bug should be fixed now. In case you want to style input tags with zircle, you can use `.z-input` or create your own class.
Thank you!!

[2019-01-29 23:55] #24 closed

[2019-01-30 19:43] NiharikaPatel commented on #24
It still seems broken or my end. I updated my packages too. These are my
current versions of Zircle and Element UI
`"zircle": "^1.3.0"
"element-ui": "^2.4.11",`

On Tue, Jan 29, 2019 at 3:55 PM Juan Martin <notifications@github.com>
wrote:

[2019-01-30 19:57] tinchox5 commented on #24
Hi @NiharikaPatel, the zircle version 1.3.0 (is an experimental release). You have to install the latest stable release that is version 1.2.4. Simply, use `npm install zircle`

[2019-01-30 20:05] NiharikaPatel commented on #24
Oh I see! Thanks, it works with 1.2.4

[2019-01-30 20:09] tinchox5 commented on #24
Excellent! Thank you

[2019-02-28 10:06] zigurana opened #25 "Newby support request: basic js integration, how to get current time updated?"
Hi enthousiastic but very green newcomer here!
I am attempting to create a home automation interface using Zircle and a Raspberry Pi 3A+.

I've followed the (excellent) documentation and tutorial, quickly stepping over any 'please familiarize yourself with JS and Vue before diving in' - messages :-D.
The tutorial worked out fine, and now I am trying to expand on it.
Because I am using the Pi, I wo

[2019-02-28 12:13] tinchox5 commented on #25
Hi @zigurana! Thank you for trying to build a home automation UI with Zircle. Regarding your question, you are right this is something related to Vue. Let me some time to answer properly. Meanwhile, I think this blog could help you: https://cushionapp.com/journal/reactive-time-with-vuejs

[2019-02-28 12:18] zigurana commented on #25
Hi, thanks for the response!
I'll dive into that blogpost, to see how far I get.

[2019-02-28 16:59] tinchox5 commented on #25
@zigurana, I made a little demo of a clock on codepen. The demo is unfinished, but maybe help you to understand how to work with time, zircle and vuejs

Please check https://codepen.io/zircle/pen/pYjOea

Hope this example helps!

![image](https://user-images.githubusercontent.com/11557901/53583748-2f63c180-3b50-11e9-950a-9591287b4193.png)

[2019-03-01 08:34] zigurana commented on #25
Oh wow, that's just great! :+1:

Must be the cutest "minimum functional example" of the month! :1st_place_medal:

It's also most explanatory, thanks!

[2019-03-01 08:34] #25 closed

[2019-03-14 17:40] tinchox5 opened #26 "Params aren't catched when zoom into a new view"
This bug is present in versions > 1.2.2

[2019-03-14 18:20] #26 closed

[2019-04-09 21:08] NiharikaPatel opened #27 "Is it possible to know the current view at anytime?"
Is there anyway to know what the current view is? I want to dynamically display other components based on what the current z-view is.

[2019-04-10 14:39] tinchox5 commented on #27
Hi @NiharikaPatel! Thank you for filling this issue!

You can use `$zircle.getCurrentViewName()`to find the current view name. Also, it is possible to detect the previous and last view name using `$zircle.getPreviousViewName()` and `$zircle.getPastViewName()`.

I made a very simple example on Codepen to illustrate how to detect the view names:

https://codepen.io/zircle/pen/ROpxgq

![image](https:

[2019-04-10 16:50] tinchox5 commented on #27
Also, there is some general information about the "internal API" of Zircle on the documentation that may help you in the future

https://zircleui.github.io/docs/api/internal-api.html

[2019-04-15 16:40] #27 closed

[2019-04-20 00:33] tinchox5 opened #28 "Improve resize handling"
**What happens**
Currently, Zircle uses a window.onresize event to react to viewport changes. That is ok when you are using the app in full mode.

The problem is when you create an app in mixed mode since the events are attached to the window size, not to the z-canvas.

**What is expected to happen**
In both, full and mixed, the event should be attached to z-canvas.

**Ideas**
https://developers.g

[2019-04-21 00:53] tinchox5 opened #29 "Adjust the size of the components based on the size of z-canvas"
Currently, Zircle uses media queries to adjust the sizes of the following components:
- z-view
- z-spot
- z-pagination
- z-dialog

This way has its limitations since zircle has a predetermined set of size according to some media queries. And it is not possible for the developer to change these values.

I believe it is better to adopt a more fluid and dev friendly approach:
- Eliminate the media qu

[2019-04-21 01:16] tinchox5 commented on #28
If the previous idea works, maybe the app modes full and mixed are not longer necessaries.

A developer will be able to use zircle in "full mode" by default since z-canvas covers all the screen or use it in "mixed mode" if he/she changes the width and/or height of the z-canvas or if z-canvas is contained inside another element.

[2019-04-21 01:48] tinchox5 opened #30 "Add some z-view features in z-dialog"
Right now z-dialog is pretty basic. Some users want that some features of z-view could the available on z-dialog.

[2019-04-21 21:38] tinchox5 commented on #23
Now you can test the beta version!!!
[code]

https://www.npmjs.com/package/zircle/v/1.4.0-beta.0

[2019-04-21 21:38] tinchox5 commented on #28
Now you can test the beta version!!!
[code]

https://www.npmjs.com/package/zircle/v/1.4.0-beta.0

[2019-04-21 21:39] tinchox5 commented on #29
Now you can test the beta version!!!
[code]

https://www.npmjs.com/package/zircle/v/1.4.0-beta.0

[2019-04-21 21:40] tinchox5 commented on #29
Set an initial size values similar to previous versions, to avoid breaking changes...

[2019-04-22 01:14] tinchox5 commented on #29
Beta version!!!
[code]
https://www.npmjs.com/package/zircle/v/1.4.0-beta.1

[2019-04-22 19:42] tinchox5 commented on #23
**Some guidelines:**

By default Zircle shows circular shapes, if you want to switch to squared shapes you need to modify the app configuration using `$zircle.config() `:
This is the normal setup you can use for example in a App.vue file:
[code]

To use squared shapes to need to add this lines:

[code]

[2019-04-22 19:48] tinchox5 commented on #29
**Some guidelines:**
Many components have the `size` property. The options are `xxl, xl, l, m, s, xs, xxs`

Now you can adjust the size of the components using `$zircle.config() `:

To modify some or all options of sizes you can:

[code]

[2019-04-22 19:54] tinchox5 commented on #23
**Changing shapes of particular components**
You can add the props `circle` or `square` to these components to override the general shape setup:

- z-view
- z-spot
- z-dialog
- z-list

[code]

[2019-07-07 13:36] samsomlan opened #31 "run sample app can't show home view righ"
when run  simple dashboard for a smart home app(git clone https://github.com/zircleUI/tutorial.git).

the home view is too large to show. like attach image. why and how to fix it.
![home view too lager to show](https://user-images.githubusercontent.com/5356609/60769175-2c30a180-a0ff-11e9-9141-78280db82771.png)

[2019-07-07 14:17] tinchox5 commented on #31
Hi @samsomlan, I think that you are running the example with a pre-release version of zircle that is not ready to use. Please try this `npm i zircle@1.2.5`

[2019-07-09 06:00] samsomlan commented on #31
after npm i zircle@1.2.5,it work!

[2019-07-09 06:00] #31 closed

[2019-07-09 12:45] samsomlan opened #32 "how to display many circle in one page?"
hi Is there anyway to display many circle in one page. I want to represent one IOT device by one circle. so I need to display a lot circle in one page

[2019-07-09 13:03] tinchox5 commented on #32
Hi @samsomlan, currently zircle can only have one instance. Also, it shows just one main circle per view.

But to achieve what you want, you can change de border width of the main circle (z-view) and just expose the z-spots... Let me a day or so and I will show a codepen with the idea.

[2019-07-09 14:33] samsomlan commented on #32
thanks a lot!

[2019-07-10 12:46] tinchox5 commented on #32
@samsomlan, please see this codepen:
https://codepen.io/zircle/pen/WqPGPx

Zircle is not currently designed to have multiples views, but a way to create multiple "view" containers is to hide the border of the main view (z-view) by adding this css style `<z-view style="border: none">` (codepen js line 2). Also you need to hide the dashed border `.z-outer-circle {
  border: none !important
}` and ad

[2019-07-11 02:58] samsomlan commented on #32
this help me a lot! thanks you

[2019-07-12 16:48] #32 closed

[2019-10-30 09:17] Kaissa-Global-Business opened #33 "Zircle rendering at wrong position on Mobile browser"
[https://codepen.io/zircle/pen/ejXaNY](https://codepen.io/zircle/pen/ejXaNY)
On Android chrome, four layer down, zircle starts dipping from center of the screen. Same example works perfectly on Web chrome. On web, the zircle dips but renders itself to the center immediately, which is not happening on Android browser. Tested on Android chrome.

![1](https://user-images.githubusercontent.com/7005124

[2019-10-30 10:49] tinchox5 commented on #33
Thank you for informing this issue. Could you change the zircle version on codepen to zircle@1.4.0-rc.1 or zircle@1.4.0-beta.3 and test again on android?

[2019-10-30 18:17] Kaissa-Global-Business commented on #33
### Tested Zircle@1.4.0-beta.3
**Result : Issue is persistent in Android Chrome and even web is affected.**

### Android Chrome
Level 1
![1](https://user-images.githubusercontent.com/7005124/67886211-20199580-fb6f-11e9-869c-75d01df572b5.jpeg)
Level 2
![2](https://user-images.githubusercontent.com/7005124/67886213-20199580-fb6f-11e9-8e8f-0c636ecb7db6.jpeg)
Level 3
![3](https://user-images.githubuse

[2019-10-30 22:39] tinchox5 commented on #33
Thanks for testing! The issue is a limitation of zircle that occurs when
you zoom deeper. The problem is the scale transform property of the active
view at the fourth of the fifth level has a lot of decimals that are not
handled properly by the browsers. For this reason, the current maximum
level of depth is 5.
To solve that problem I'm drafting a solution to get rid off the limit of
zoom navigati

[2019-10-31 08:42] Kaissa-Global-Business commented on #33
When I did console log of X,Y in position.js for web and mobile

[code]
For the same angle the X,Y are calculated to same decimal precision but they differ in deeper levels. Strange.

In my observation with zircle@stable, on the web the zircle dips down at deeper level but quickly comes back to the center.
### Which makes me wonder, can the position be manually centered using css. Any suggestions?

[2019-10-31 09:15] tinchox5 commented on #33
Maybe this can be done by adding a css style with "!important" trying to override the transform property on the current view. However, I believe that to solve this issue it is better to rewrite the position "engine".

[2019-10-31 10:46] Kaissa-Global-Business commented on #33
Thanks for the hint. Efforts to manually reset transform failed. When i dug deeper, i found this great article on [browsers rounding up decimal points](https://cruft.io/posts/percentage-calculations-in-ie/)
Turns out that round up of decimal places in transform: translate3d is the culprit and position "engine" isn't at fault.

Zircle's strongest feature is zoom and out which aesthetically depicts

[2019-10-31 11:32] tinchox5 commented on #33
I really appreciate your feedback and interest on zircle. I aware of this
limitations and for this reason I thought in another approach:

Nowadays zircle perfoms true zoom navigation, but as you  know the decimal
points are not well handled by browser. At deeper scales the things behave
weirdly.

So, the objective of the new approach is to ensure the the new view is
rendered always at scale factor

[2019-10-31 13:18] Kaissa-Global-Business commented on #33
Yes, sounds great, as long as transformation aren't in decimal coordinates the problem is solved. **I think your new approach is absolutely correct**.  If the canvas made scaleable, zoom-in is practically infinite. Performance optimisation may be required, since all parents will need to be transformed not just scaled.

[2019-10-31 14:16] tinchox5 commented on #33
That’s absolutely right! I think writing this solution, the project will be
more stable and less experimental. In this sense, separating the zoom
“engine” from the circle shapes will result in more maintaining and
flexible project.

On Thu, 31 Oct 2019 at 10:18 KGB <notifications@github.com> wrote:

[2019-11-04 18:45] #33 closed

[2019-12-25 19:08] maxmstrmn opened #34 "New version?"
Hey, when could we expect a new version? I'd really love to see new features! Awesome work!

[2019-12-26 02:09] tinchox5 commented on #34
Hi @maxmstrmn! I think that a new version might come by the end of first semester next year.

[2019-12-26 02:09] #34 closed

[2020-01-15 22:05] VadimGuslistov opened #35 "How to change the speed of the animation between the circles?"
**What issues can I inform?**
Besides informing a **bug**, you can **propose features, ideas, etc**.

You can also open an issue if find something in the **documentation** is not clear enough.

**How to inform?**
Just try to explain **what happens** and **what is expected to happen** . Also, it would very useful to provide **a way to reproduce the issue** (JSFiddle, CodePen, CodeSandbox or provide

[2020-01-15 22:42] tinchox5 commented on #35
Hi @VadimGuslistov,
If you ask regarding how to animate circles as in this example https://zircleui.github.io/docs/examples/vuejs-ecosystem.html, you could try yourself in https://codepen.io/zircle/pen/LeqKGK which is editable.

On line 254 you will see this :
[code]

To increase the speed you need to alter the number `5` with a large number. For instance,`90`. Try it online to see how the speed i

[2020-01-15 22:52] VadimGuslistov commented on #35
Thanks, but I ask regarding how to increase the speed of the animation circles as in this example:
https://codepen.io/zircle/pen/vqbXvM

[2020-01-15 23:09] tinchox5 commented on #35
Currently, is not possible to change the speed of the transition. However, in a future version, I would allow users to change the transition speed to fit their needs.

[2020-01-17 11:05] VadimGuslistov opened #36 "How to resize z-view arbitrarily?"
**What issues can I inform?**
Besides informing a **bug**, you can **propose features, ideas, etc**.

You can also open an issue if find something in the **documentation** is not clear enough.

**How to inform?**
Just try to explain **what happens** and **what is expected to happen** . Also, it would very useful to provide **a way to reproduce the issue** (JSFiddle, CodePen, CodeSandbox or provide

[2020-01-17 15:56] tinchox5 commented on #36
Please see this issue https://github.com/zircleUI/zircleUI/issues/29
z-view uses the size xxl. Maybe you can adjust the xxl property. The size is a percentage of the screen. To enable this feature, you need to install `npm install zircle@1.4.0-beta.3
`

[2020-01-17 23:42] VadimGuslistov commented on #36
Thanks, but I need to set any size
ANS
I use zircle@github-trending-plus, but does it work with zircle@1.4.0-beta.3?

[2020-01-18 00:07] tinchox5 commented on #36
I think that version should work, but maybe you need to adjust the size properties as is said on #29
You can't set a fixed size for z-view since it is responsive by design.

[2020-02-17 15:39] VadimGuslistov opened #37 "How to perform a zoom transition to another view using programmatic navigation?"
I used programmatic navigation by toView, but a zoom transition to another view does not work. zSpot is just displayed, but there is no effect of zooming it and the surrounding interface.

[2020-02-17 15:46] tinchox5 commented on #37
Vadim, sorry about that. I’m taking a holiday and I don’t have good
internet access. I’ll be back on February 24th.

On Mon, 17 Feb 2020 at 12:39 Vadim Guslistov <notifications@github.com>
wrote:

[2020-02-24 21:07] tinchox5 commented on #37
@VadimGuslistov , please see this working codepen with programmatic navigation: https://codepen.io/zircle/pen/yLNgKeP (Pay attention to lines 7-18)

Also I suggest to check the documentation at https://zircleui.github.io/docs/api/z-spot.html#using-programmatic-navigation

Good Luck!!

[2020-02-27 00:04] Mashiane opened #38 "Using with VueMaterial"
Im trying this lib out but am getting an error that I cannot solve.

Uncaught TypeError: Cannot read property 'offsetWidth' of null
    at Object.getDimensions (zircle.umd.js:1215)
    at addResizeHandlers (zircle.umd.js:630)

Apparently, the div named z-container cannot be found.

How can I resolve this?

Thanks

[2020-02-27 00:55] tinchox5 commented on #38
Could you provide a codepen reproducing the issue?

On Wed, 26 Feb 2020 at 21:04 Mashy <notifications@github.com> wrote:

[2020-05-01 20:06] #23 closed

[2020-05-01 20:06] #28 closed

[2020-05-01 20:06] #29 closed

[2020-05-01 20:06] #30 closed

[2020-05-01 20:06] #35 closed

[2020-05-01 20:06] #36 closed

[2020-05-01 20:06] #37 closed

[2020-05-01 20:06] #38 closed

[2020-05-01 20:23] tinchox5 opened #39 "Zumly is now public!"
Hi guys,

ZircleUI is a project that I love and allows me experimenting with both zoomable transitions and circular UIs. I've received lot of useful feedbacks about its usability and constraints and for this reason I decided to start a new approach.

I'm currently working on a new project called **Zumly**, which takes some ideas from Zircle UI and discards others.

The main features of Zumly will

[2020-06-12 06:37] ripplethor opened #40 "Zircle and Nuxt"
I am trying to get zircle working within nuxt.

I have managed to get it sort of working, but the issue is that when I navigate to the zircle, it comes up with "home not found"  (home being my component).

I think this maybe has something to do with routes, but given nuxt automatically creates them, I am not sure of the best way to fix this.

[2020-06-12 09:53] tinchox5 commented on #40
I ‘ve never used nuxt with zircle, but as you say the issue may be related
to routes. Can you share me a codesandbox to reproduce the issue?

On Fri, 12 Jun 2020 at 03:38 pelfed <notifications@github.com> wrote:

[2020-06-12 11:11] pelfed commented on #40
Hi - thanks for getting back to me.
I have created a sandbox which can be found here:
[https://codesandbox.io/s/young-hill-elrnp?file=/pages/index.vue](https://codesandbox.io/s/young-hill-elrnp?file=/pages/index.vue)

[2020-06-12 11:44] tinchox5 commented on #40
Thank you! I will try to understand what is happening

[2020-06-12 12:25] tinchox5 commented on #40
Okey! I think now is working!
I have to admit that it is a dirty hack.... I enclosed zircle into a timeout... and apparently is working.
https://codesandbox.io/s/quiet-wood-do3wu?file=/pages/index.vue

Also, I saw that you have cleared the z-canvas position...The problem is that you can't navigate back in this way. I made a wrapper and I set zircle en mixed mode.  https://zircleui.github.io/docs/a

[2020-06-12 13:31] pelfed commented on #40
Wow - thanks very much!  I set the position to unset just for the codesandbox but thanks for the info on mixed mode.

[2020-06-12 14:41] tinchox5 commented on #40
Good to know that is working! I'm currently working in a new approach that is called Zumly. If you want you can subscribe to the mailing list on https://zumly.org

[2020-06-22 12:41] Kaissa-Global-Business commented on #39
I love Zircles and I am looking forward to Zumly. Good luck Martin.

[2020-06-22 13:55] tinchox5 commented on #39
Thank you! I'm currently working on the Zumly's "engine". If all goes as expected, I'm going to share the first drafts through the mailing list at the end of June.

[2020-07-02 18:53] tinchox5 commented on #39
[Zumly landing page preview](https://youtu.be/1eDu4qoCJOY)

[2020-07-02 20:57] Kaissa-Global-Business commented on #39
Congratulations Martin,
Extremely excited to see how you solved infinite Zoom. That’s a serious
computer graphics problem for me. How can we try zumly?

On Thu, 2 Jul 2020 at 20:54, Juan Martin <notifications@github.com> wrote:

--
AJ, Kaissa Global : Https://kaissa.nl E : aj@kaissa.nl M : +31-686267875

[2020-07-02 22:23] tinchox5 commented on #39
Thank you AJ,
Hopefully the first public version of zumby will be in two weeks.

[2020-07-11 04:04] tinchox5 commented on #39
The landing page is online at https://zumly.org
The feature boxs are running wtih Zumly

[2020-07-20 10:21] tinchox5 commented on #39
Zumly is public available!!! Checkout at https://github.com/zumly/zumly

[2020-07-21 00:02] #40 closed

[2021-01-20 13:49] #39 closed

[2021-05-05 16:33] biloo-dev opened #44 "how can i use zircleUI with Vue 3"
i have project with vue 3 and ionic 5

![dd](https://user-images.githubusercontent.com/37638323/117176594-f2e31e80-adc7-11eb-8d8f-7abcedad02fc.PNG)

how can i fix this error please

![image](https://user-images.githubusercontent.com/37638323/117176497-de068b00-adc7-11eb-8caf-bc44a29ceddc.png)

[2021-05-15 00:23] tinchox5 commented on #44
Hi @biloo-dev sorry for the delay! I'll take a look asap to give you an answer. Nowadays zircle is working for vue 2.x, but I'll try to fix for you

[2021-05-18 13:07] biloo-dev commented on #44
Thank you very much @tinchox5 . I will be very grateful to you for your cooperation
I will be waiting for you

[2021-05-18 13:59] tinchox5 commented on #44
No problem, I have found some guides to adapt 2.xx libraries to 3.x.x. Give some time I'll fix

[2021-07-09 21:40] stigmat4j commented on #44
Hi! Any updates?

[2021-07-10 20:56] tinchox5 commented on #44
Hi! no yet. I’ll do it ASAP. Sorry for the inconveniences.

On Fri, 9 Jul 2021 at 18:40 Maxim ***@***.***> wrote:

[2021-07-13 01:02] tinchox5 commented on #44
Guys, I had Zircle working on Vue 3, but I need to fix many vue warns yet.

[2021-07-13 22:08] tinchox5 commented on #44
Well, I think zircle is now Vue3 compatible.

Please check Vue3 branch https://github.com/zircleUI/zircleUI/tree/vue3

Also, you can install the package `npm install zircle@vue3`

I worked on the dev branch, so this version of Zircle has some undocumented features. Please see #23

[2021-07-13 22:27] tinchox5 commented on #44
I forget to mention that when you define your views follow this in order to prevent some Vue warns in console:
[code]

[2021-07-13 22:37] tinchox5 commented on #44
Caveats: vue router is not ready yet

[2022-01-21 19:57] Ahmed-Sarmoum opened #47 "Problem when using two zircleUI (Vue-electron)"
I'm using two zircle in the same project
The problem is that when I open the first and then close it and then open the other, I find the content of the first opens in the second

![Capture](https://user-images.githubusercontent.com/58576140/150592016-63c92441-7bf2-4809-8602-e4d771e67133.PNG)
I am using vue-electron

[2022-01-27 21:56] tinchox5 commented on #47
Sorry Zircle has only one instance. Zumly runs with multiple instances

[2022-05-12 14:05] xdidx opened #48 "Nothing is displayed when clicking on z-spot with to-view attribute just after zoom out"
All disappear (big zoom out) when I click on z-spot with to-view attribute just after (less than a second) clicking outside the z-view circle in order to zoom out

I made a video to show it: [*video link*](https://drive.google.com/file/d/1jb9UrMRvWOQsCeIv09bIskLAHdMOyHB5/view)

I tried to add a condition to verify pulse variable, the error wasn't present anymore, but the big zoom out is always pre

[2022-05-16 07:08] yearmfew commented on #48
It does not happens on brave browser. I have tried the code in codesandbox.

[2022-05-16 07:12] yearmfew opened #49 "Zircle with vue router"
I am using zircle and another menu in my vue js project in main page. When I click a circle and come back with menu then It appears a zoom back click on the mouse. When I click somewhere in the page, the zircle disappears.

In documentation I have seen that we should not user vue router and zircle togetger. I am okay with this. But I just need to disable the zoom behaviour of zircle. How can I rem

[2022-05-16 11:12] xdidx commented on #48
I got the same issue on brave browser [video link](https://drive.google.com/file/d/1r5m4V6-NqDFnDsmC47qpED-xzlePLw6u/view?usp=sharing) :/

[2022-05-16 14:31] tinchox5 commented on #49
Hi @yearmfew, please use zircle in mixed mode. https://zircleui.github.io/docs/api/z-canvas.html#full-and-mixed-modes

[2022-05-16 17:07] #44 closed

[2022-05-16 17:07] #47 closed

[2022-05-19 13:13] yearmfew commented on #49
Hi. Actually it works in mixed mode. Here is my code.
Home.vue:
`
<template>
  <div class="home-container">
    <div class="canvas-container">
      <z-canvas :views="$options.components">
        <ReviewCircle> </ReviewCircle>
      </z-canvas>
    </div>
    <div class="reflexionsButton">
      <ReflexionAuswahl :projectId="getProjectID" />
    </div>
  </div>
</template>

<script>
import Review

[2022-05-19 13:25] yearmfew commented on #49
In our project we are using it actually a little bit weird. We are not using the main good functionality "zooming". We are using only the circles as some sort of menu and we just need to click them and go some pages.
And it is not the main component of our project. It is only one of the pages.
So is there any way to cancel the zoom functionality. I know it is a weird request but it is what we need

[2022-05-19 14:09] tinchox5 commented on #49
I understand, yes I think it could work just as a normal link and without zoomable views. Pls try to remove to-view property and just use a regular href.

[2022-05-19 14:37] yearmfew commented on #49
I have removed to-view and made it with normal a href but it still happens. Here is the code

[code]

[2022-05-19 14:38] yearmfew commented on #49
When I click a menu item, it works with vue-router. And zircle thinks that I have clicked a circle, I suppose. Even if I make it with normal href, it triggers zoom back because of menu item.

[2022-05-20 12:33] yearmfew commented on #49
I am so sorry but it is a huge project. I could not do it on codepen.
The project is actually is on github. You can check it from here.
[https://github.com/MethodJules/clr-6]

On develop branch. src/components/reviewCircle in this component I am using zircle. And this component is called from home.vue component in the same directory

[2022-05-20 15:54] tinchox5 commented on #49
No problem. I was thinking that if you only need a circle shape for your
project, the best think is to use only the css style. Anyway I’ll take a
look

On Fri, 20 May 2022 at 09:33 Birol YILMAZ ***@***.***> wrote:

[2022-06-22 11:34] xdidx opened #50 "Strange behavior when returning to Zircle component after going to another page"
When I go to a page without a Zircle component and come back to the page that contains the Zircle container, Zircle is already initialized and I have some problems related to that (the previous icon is available on the side of the container)*

[Video link here](https://drive.google.com/file/d/1NjzxPehpdc0tUaA6yc85Vl7NjLkbcxCx/view)

[Sandbox link here](https://codesandbox.io/s/smart-home-with-rout

[2022-06-28 12:53] Ahmed-Sarmoum opened #51 "a problem when using two zircle into a deferent component with different functionality"
The components overlap when the zircleis opened

first zircle
![v1](https://user-images.githubusercontent.com/58576140/176183000-bbf967d1-ffdb-42b9-bda1-ca41f4626da2.PNG)

second zircle
![v2](https://user-images.githubusercontent.com/58576140/176183067-392376f1-37a4-461b-bd40-802de1ab1e79.PNG)

the problem (The overlap between them)
![v3](https://user-images.githubusercontent.com/58576140/17618331

[2022-06-28 19:48] tinchox5 commented on #51
Hi @Ahmed-Sarmoum as you asked in #47 the problem is that zircle only has one instance. You can't use more than one zircle on the same app. Zumly on the other hand, accepts multiple instances

[2022-07-10 23:39] Ahmed-Sarmoum commented on #51
@tinchox5  thank you bro

[2022-07-10 23:41] #51 closed

[2022-08-01 14:37] xdidx commented on #49
I just read this issue.
I think it is related to issue #50 (which I created after the current issue).
Maybe this PR could solve your problem too, @yearmfew : https://github.com/zircleUI/zircleUI/pull/55

[2022-08-01 17:44] #50 closed

[2022-08-01 17:45] #48 closed

[2022-08-04 09:37] #49 closed

[2022-08-23 16:04] tinchox5 opened #70 "Includes demo app into dist folder"
When new zircle version is released, demo app should be builded and included into dist folder.

[2022-08-25 14:47] mulealem opened #72 "z-list-pagination is not working"
When working with z-list, the z-list-pagination is not were to be found(it is hidden at the bottom of the page), Its works with 1.2.5 and 1.3.0 but not on version 1.4 and 1.5
![zcircle_issue](https://user-images.githubusercontent.com/110355554/186696666-39976b96-c149-4b81-befc-665c31020263.gif)

[2022-08-25 16:31] #72 closed